
main .banner {
    height: 250px;
    width: 95%;
    display: grid;
    place-content: center;
    background: #ff4d65;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fdfdfd;
}

main .about {
    width: 95%;
    background: transparent;
    margin: auto;
    padding: 1rem;
}

.about h4 {
    font-size: calc(1rem + .3vw);
}

.servicesBox {
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 25px auto;
}

.servicesBox .options {
    border: 1px solid #ff4d65;
    padding: 4rem 2rem;
    background: #121213;
    border-radius: 10px;
    text-align: center;
    color: #fdfdfd;
    transition: all 0.3s ease;
}

.options ion-icon {
    font-size: 3em;
    margin-bottom: 15px;
}

.options h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .servicesBox {
        grid-template-columns: repeat(2,1fr);
    }
    .servicesBox .options {
        padding: 2rem 1rem;
    }
    .options ion-icon {
        font-size: 2rem;
    }
    .options h4 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    main .banner {
        height: 200px;
    }
}

@media (max-width: 425px) {
    main .banner {
        height: 140px;
    }
}