.categories {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-inline: 2rem;
}

.category {
    margin-top: 25px;
    padding: 15px;
    background: rgb(33, 34, 34);
    border-radius: 10px;
}

.category > .title {
    position: sticky;
    right: 0;
}

.category .title h4 {
    color: #ff4d65;
}

.category .itemsBox {
    height: 375px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    overflow-x: auto;
    padding: 15px 25px;
}

.itemsBox::-webkit-scrollbar-track {border-radius: 25px;}
.itemsBox::-webkit-scrollbar-thumb {border-radius: 25px;}

.itemsBox .item {
    position: relative;
    height: 100%;
    width: 245px;
    flex: 0 0 auto;
    border: 1px solid #fdfdfd;
    background: #fdfdfd;
    border-radius: 10px;
    overflow: hidden;
}

.itemsBox .item .itemLink {
    position: absolute;
    height: 100%;
    width: 100%;
    color: transparent;
}

.itemsBox .item .imgBox img {
    object-fit: contain;
}

.itemsBox .item .caption {
    pointer-events: none;
}

.item .info h6 {
    font-size: 0.9rem;
}

.item .info li {
    font-size: 0.75rem;
}

@media (max-width:768px) {
    .categories {
        padding-inline: 0.9rem;
    }
    
    .caption .info {
        display: none;
    }
}

@media (min-width:768px) {
    .caption {
        transform: translateY(80%);
        transition: 0.5s ease-in-out;
        transition-delay: 0s;
    }

    .item:hover > .caption {
        transform: translateY(0);
        transition-delay: 0.3s;
     }
}
